<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4IcgpcrLbNZrc12iy1Aa1oDg5IJn8pKk</string>
	<key>GCM_SENDER_ID</key>
	<string>338223207419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramCloneApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>instafeed-87fec</string>
	<key>STORAGE_BUCKET</key>
	<string>instafeed-87fec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338223207419:ios:269d9391e7d5ca0c13b15e</string>
</dict>
</plist>